.DS_Store
/Sharp_MZ-80GMK/Sharp_MZ-80GMK-backups
*.kicad_prl
Sharp_MZ-80B_RAM_III_IV_Expansion/fp-info-cache
/Sharp_MZ-80B_RAM_III_IV_Expansion/Sharp_MZ-80B_RAM_III_IV_Expansion-backups
/MZ-80EU/MZ-80EU-backups
/Sharp_MZ-80B_DRAM-to-SRAM/Sharp_MZ-80B_DRAM-to-SRAM-backups
/Sharp_MZ-80GMK2/Sharp_MZ-80GMK2-backups
