.DS_Store
/Sharp_MZ-80GMK/Sharp_MZ-80GMK-backups
*.kicad_prl
Sharp_MZ-80B_RAM_III_IV_Expansion/fp-info-cache
/Sharp_MZ-80B_RAM_III_IV_Expansion/Sharp_MZ-80B_RAM_III_IV_Expansion-backups
/MZ-80EU/MZ-80EU-backups
/Sharp_MZ-80B_DRAM-to-SRAM/Sharp_MZ-80B_DRAM-to-SRAM-backups
/Sharp_MZ-80GMK2/Sharp_MZ-80GMK2-backups
/Keyboard/Sharp_MZ-80B_Keyboard-backups
*.lck
*.numbers
Keyboard/fp-info-cache
/Sharp_MZ-80B_SD_Interface/MZ-80B_Extension_Board/MZ-80B_Extension_Board-backups
Sharp_MZ-80B_SD_Interface/MZ-80B_Extension_Board/fp-info-cache
/Schematics/Sharp_MZ-80B_Schematics-backups
Schematics/\#auto_saved_files\#
*.bak
*.bak
Sharp_MZ-80GM/fp-info-cache
/Sharp_MZ-80GM/Sharp_MZ-80GM-backups
/Sharp_MZ-80GMSD/Sharp_MZ-80GMSD-backups
Sharp_MZ-80GMSD/fp-info-cache
